/* src/components/TarjetaPokemon.css */
.tarjeta-pokemon {
    width: 250px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 15px;
  }
  
  .tarjeta-pokemon img {
    width: 100px;
    height: 100px;
  }
  
  .tarjeta-pokemon h3 {
    margin: 10px 0;
  }
  
  .tarjeta-pokemon p {
    margin: 5px 0;
  }
  